# backend
backend/node_modules
backend/package-lock.json
.idea
.history
front_end/macos/Flutter
backend/.env
front_end/linux/flutter/generated_plugin_registrant.cc
front_end/linux/flutter/generated_plugins.cmake
front_end/macos/Flutter/GeneratedPluginRegistrant.swift
front_end/windows/flutter/generated_plugin_registrant.cc
front_end/windows/flutter/generated_plugins.cmake
backend/.env
