.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 90%;
    overflow-y: auto;
}

.scroll-2 {
    height: 75%;
    overflow-y: auto;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item img {
    display: none;
    /* Ẩn ảnh bên trong */
}